@import "src/App";

.recent-projects {
  @include side-title-border;
  @include grid;

  .projects {
    display: grid;
    gap: 0.5rem;

    .project {
      @include section-left-border;
      padding-left: 1rem;
    }
    .title {
      font-size: 1.1rem;
    }
  }
}
