@import "src/App";

.recent-projects {
  @include side-title-border;
  @include grid;

  .projects {
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(3, 1fr);

    .title {
      font-size: 1.1rem;
    }

    .description {
      margin-top: 0.25rem;
    }
  }
}
