@import "src/App";

.education {
  display: contents;

  .section-title {
    grid-column: span 1;
  }

  .school {
    margin-top: 0.5rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 20px auto;

    img {
      width: 20px;
      height: 20px;
    }

    .school-name {
      align-self: center;
    }
  }
}
