@import "src/App";

.education {
  @include side-title-border;
  @include grid;

  .award {
    font-size: 1.1rem;
  }

  .school {
    margin-top: 0.5rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 20px auto;

    img {
      width: 20px;
      height: 20px;
    }

    .school-name {
      align-self: center;
    }
  }
}
