@import "src/App";

.professional-experiences {
  .experiences {
    @include grid;
    gap: 0rem 0.75rem;

    .experience-section {
      display: contents;

      > div {
        padding: 0.25rem;
        align-self: center;
      }

      .experience-title {
        @include experience-title;
      }

      .experience-desc {
        @include section-left-border;
        margin-top: 0.5rem;
        margin-bottom: 0;
        padding-left: 1rem;

        .title {
          font-size: 1rem;
          display: flex;
          align-items: center;
          // text-decoration: underline;
        }

        .stack {
          margin-left: 0.25rem;
          font-weight: bold;
          font-size: 0.8rem;
        }

        .subline {
          margin-left: 0.25rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}
