@import "src/App";

.professional-experience {
  display: contents;
  grid-column: span 2;

  .section-title {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid grey;
  }

  .experiences {
    display: contents;

    .experience-section {
      display: contents;
      grid-column: span 2;

      > div {
        padding: 0.25rem;
        align-self: center;
      }

      .experience-title {
        @include experience-title;
      }

      .experience-desc {
        margin-bottom: 0;

        .subline {
          margin-left: 0.25rem;
        }
      }
    }
  }
}
