@import "src/App";

.earlier-experience {
  @include side-title-border;
  @include grid;

  .experiences {
    @include experience-title;
    display: grid;
    gap: 0.5rem 1rem;
    grid-template-columns: repeat(3, 1fr);

    .earlier-experience-card {
      @include section-left-border;
    }
  }
}
