@import "src/App";

.earlier-experience {
  @include section-side-title-border;
  @include section-side-title;

  .experiences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .experience {
      display: flex;
      flex-direction: column;
    }
  }
}
