.App {
  .resume {
    padding: 0.8rem;
    width: 850px;
    height: 1100px;
    border: 1px solid grey;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      padding-left: 1rem;
    }

    .structured,
    .grid {
      > div:not(.line) {
        margin-bottom: 0.5rem;
      }
    }

    .grid {
      display: grid;
      gap: 0.75rem;
      grid-template-columns: fit-content(10rem) auto;
    }

    .line {
      border-top: 1px solid grey;
      grid-column: span 2;
    }
  }
}

@mixin experience-title {
  text-align: center;
  .company {
    font-size: 1.25rem;
  }

  .durations {
    margin-top: 0.25rem;
    color: grey;
    font-size: 0.7rem;
  }

  .role {
    margin-top: 0.25rem;
    font-size: 0.75rem;
  }
}
