.App {
  .resume {
    padding: 0.8rem;
    width: 850px;
    height: 1100px;
    border: 1px solid grey;
    font-size: 0.9rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      padding-left: 1rem;
    }

    .structured > div {
      margin-bottom: 0.5rem;
    }
  }
}

@mixin grid {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 11.5rem auto;
}

@mixin side-title-border {
  padding-top: 0.5rem;
  border-top: 1px solid grey;
}

@mixin experience-title {
  text-align: center;
  .company {
    font-size: 1.25rem;
  }

  .durations {
    margin-top: 0.25rem;
    color: grey;
    font-size: 0.7rem;
  }

  .role {
    margin-top: 0.25rem;
    font-size: 0.75rem;
  }
}
