@font-face {
  font-family: "AnonymousPro";
  src: local("AnonymousPro"),
    url(fonts/AnonymousPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "CourierPrime";
  src: local("CourierPrime"),
    url(fonts/CourierPrime-Regular.ttf) format("truetype");
}
