@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito/Nunito-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito/Nunito-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito/Nunito-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans";
  src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url(fonts/Open_Sans/OpenSans-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url(fonts/Open_Sans/OpenSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@page {
  margin: 0;
}

@media print {
  header {
    position: fixed;
    top: 0;
  }
  footer {
    position: fixed;
    bottom: 0;
  }
  .resume {
    border: none !important;
  }
}
