@font-face {
  font-family: "AnonymousPro";
  src: local("AnonymousPro"),
    url(fonts/AnonymousPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "CourierPrime";
  src: local("CourierPrime"),
    url(fonts/CourierPrime-Regular.ttf) format("truetype");
}

@page {
  margin: 0;
}

@media print {
  header {
    position: fixed;
    top: 0;
  }
  footer {
    position: fixed;
    bottom: 0;
  }
  .resume {
    border: none !important;
  }
}
