@import "src/App";

.side-projects {
  @include side-title-border;
  @include grid;

  .projects {
    display: grid;
    gap: 0.5rem;

    .project {
      @include section-left-border;
      padding-left: 1rem;

      .title {
        display: flex;
        align-items: center;
        font-size: 1rem;
  
        .desc-skills {
          font-size: 0.8rem;
          font-weight: bold;
          margin-left: 0.5rem;
          margin-right: 0.25rem;
        }
      }
    }
  }
}

.more-projects {
  display: flex;
  justify-content: flex-end;

  a {
    margin-left: 0.25rem;
  }
}
